<template>
  <div>    
    <router-view></router-view>
  </div>
</template>

<script>

export default {
  data() {
    return {};
  }
};
</script>

<style lang="scss" scoped>
[v-cloak] {
  display: none;
}
</style>
