<template>

          <div v-if="data" class="extension">
            <div class="container card p">
                <a href="#" class="close d-block modal-icon-right" @click="close">
                    <svg width="33px" height="33px" viewBox="0 0 33 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="icon_basic_close-grey">
                                <rect id="Path" x="0" y="0" width="33" height="33"></rect>
                                <path d="M18.1340306,15.3131232 C17.7357115,15.6924748 17.7332363,16.3051679 18.1340306,16.6868768 L22.9787794,21.3009232 C23.3770985,21.6802748 23.3751225,22.2969933 22.9729673,22.6797336 L23.3634877,22.3080664 C22.9619586,22.6902108 22.3160661,22.6948321 21.9153187,22.3131232 L17.0711363,17.6990768 C16.6728637,17.3197252 16.0295737,17.3173679 15.6287794,17.6990768 L10.7840306,22.3131232 C10.3857115,22.6924748 9.73815699,22.6908067 9.33627973,22.3080664 L9.72653027,22.6797336 C9.32527868,22.2975892 9.32038887,21.6826321 9.72113632,21.3009232 L14.5653187,16.6868768 C14.9635913,16.3075252 14.9660661,15.6948321 14.5653187,15.3131232 L9.72113632,10.6990768 C9.32286373,10.3197252 9.32465301,9.70300665 9.72653027,9.32026641 L9.33627973,9.69193359 C9.73753132,9.30978922 10.3832363,9.30516794 10.7840306,9.6868768 L15.6287794,14.3009232 C16.0270985,14.6802748 16.6703889,14.6826321 17.0711363,14.3009232 L21.9153187,9.6868768 C22.3135913,9.30752522 22.9613325,9.30919335 23.3634877,9.69193359 L22.9729673,9.32026641 C23.3744964,9.70241078 23.3795737,10.3173679 22.9787794,10.6990768 L18.1340306,15.3131232 Z" id="close-[#1511]" stroke="#FFFFFF" stroke-width="0.5" fill="#FFFFFF" fill-rule="nonzero"></path>
                            </g>
                        </g>
                    </svg>
                </a>

                <div class="card-block bg-pattern-dark rounded-top">
                    <div class="media">
                      <img class="d-flex product_thumbnail sl-border rounded" v-bind:src="data.image.v" alt="">
                        <div class="media-body text-center">
                            <img :src="getUrl('popup/img/switlish-sigle.svg')" alt="" height="50" width="50">
                            <h1 class="mt-0 mb-1 h6 text-lato text-white pb-3">Swit ajouté !</h1>
                            <a href="#" class="btn btn-ghost-blue">Voir</a>
                        </div>
                    </div>
                </div>
                
                <a class="btn btn-sm text-sl-grey btn-option bg-white" @click="show=!show" data-toggle="collapse" href="#collapseOptions" aria-expanded="true" aria-controls="collapseOptions">
                    Options 
                    <!-- <img src="img/icon/icon_basic_down.svg" alt=""> -->
                </a>
                
                <div v-if="show" class="collapse" id="collapseOptions">
                    <div class="card card-block border-0">

                                <form>
                                    <div class="form-group">
                                        <label for="listeType" class="text-uppercase text-small"><small class="text-sl-grey text-uppercase">Organiser dans :</small></label>
                                        <select class="form-control" id="listeType" required="">
                                            <option value="1">Mon shopping</option>
                                            <option value="2">Ma liste 2</option>
                                            <option value="3">Ma liste 3</option>
                                            <option value="4">Ma liste 4</option>
                                            <option value="5">Ma liste 5</option>
                                            <option value="6" class="sl-select-newList"><a href="">Nouvelle liste</a></option>
                                        </select>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="askFriend"><small class="text-sl-grey text-uppercase">Demander l'avis de :</small></label>
                                        <select class="form-control" id="askFriend" required="">
                                            <option value="1">Tous mes amis</option>
                                            <option value="2">Une sélection d’amis…</option>
                                            <option value="3">Ne pas demander d’avis</option>
                                        </select>
                                    </div>
                                    
                                    <div class="form-group mt-4 text-center">
                                        <button class="btn btn-turquoise" type="submit">Valider</button>
                                    </div>
                                </form>
                    </div>
                </div>   

            </div>
        </div>
        <div v-else>
          
          <clip-loader></clip-loader>
        </div>

</template>

<script>
import ClipLoader from "vue-spinner/src/ClipLoader.vue";
import axios from "axios";

export default {
  components: {
    ClipLoader
  },
  data() {
    return {
      errors: [],
      data: null,
      show: false
    };
  },
  methods: {
    close: function() {
      window.close();
    },
    getUrl(url) {
      return chrome.extension.getURL(url);
    }
  },
  mounted() {
    let url = null;
    let html = null;
    setTimeout(() => {
      chrome.tabs.query(
        {
          active: true,
          currentWindow: true
        },
        tabs => {
          url = tabs[0].url;
          axios
            .get("http://149.202.40.75:1337/" + "scrap?url=" + url)
            .then(({ data }) => {
              this.data = data;
              // JSON responses are automatically parsed.
              console.log(response, 1);
            })
            .catch(e => {
              this.errors.push(e);
            });
          console.log(tabs);
        }
      );
    }, 1);

    console.log(url);

    // async / await version (created() becomes async created())
    //
    // try {
    //   const response = await axios.get(`http://jsonplaceholder.typicode.com/posts`)
    //   this.posts = response.data
    // } catch (e) {
    //   this.errors.push(e)
    // }
  }
};
</script>

<style lang="scss" scoped>
.extension {
  max-width: 355px;
  // top: 2rem;
  // right: 2rem;
}
.container {
  display: block;
}
.p {
  padding: 0 0 !important;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid #ececec;
  border-radius: 0.25rem;
}
.container {
  width: 720px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.modal-icon-right {
  position: absolute;
  top: 4px;
  right: 5px;
}
.d-block {
  display: block !important;
}
.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #3d3e4e;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.5;
}
a {
  background-color: transparent;
  transition: all 0.2s ease-in;
  touch-action: manipulation;
  text-decoration: none;
  cursor: pointer;
}
.rounded-top {
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}
.bg-pattern-dark {
  background: url("/dark-pattern.png") 0 0 repeat;
  background-size: 96px;
}
.card-block {
  flex: 1 1 auto;
  padding: 1.25rem;
}
.media {
  display: flex;
  align-items: flex-start;
}
.extension .product_thumbnail {
  background-size: cover;
  height: auto;
  width: 132px;
  z-index: 11;
}
.rounded {
  border-radius: 0.25rem;
}
.sl-border {
  border: 1px solid #ececec;
}
.d-flex {
  display: flex !important;
}
.text-center {
  text-align: center !important;
}
.text-white {
  color: #fff !important;
}
.media-body {
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}
.btn,
a.btn {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
}
.text-lato {
  font-family: "Lato", sans-serif !important;
}
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border-radius: 1.5rem;
  transition: all 0.2s ease-in-out;
}
.bg-white {
  background-color: #ffffff;
}
.text-sl-grey {
  color: #5b748d !important;
}
.btn-sm,
.btn-group-sm > .btn {
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}
.btn-ghost-blue {
  border: 2px solid #2b98f0;
  color: #3d3e4e;
  background-color: transparent;
}
.btn-ghost-blue:hover,
.btn-ghost-blue:active,
.btn-ghost-blue.active,
.btn-ghost-blue:focus,
.btn-ghost-blue.focus {
  color: #ffffff;
  background-color: #2b98f0;
}
.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #3d3e4e;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.5;
}
.close:focus,
.close:hover {
  color: #3d3e4e;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.75;
}
.btn-option.btn {
  padding-left: 150px;
  margin-top: -40px;
  z-index: 10;
  height: 34px;
}
// .collapse {
//   display: none;
// }
// .collapse.show {
//   display: block;
// }
.clipLoader {
  width: 320px;
  height: 220px;
}
.border-0 {
  border: 0 !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #5b748d;
  background-color: #ffffff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(61, 62, 78, 0.15);
  border-radius: 1.5rem;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.btn-turquoise {
  background-color: #59f9f0;
  border-color: #59f9f0;
  color: #ffffff;
}
</style>
